
/***************************** NAVBAR *****************************/

#navbar{
    position: fixed;
    width: 100%;
    /* height: 50px; */
    top: 0;
    left: 0;
    background-color: black;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li{
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#navbar li a:hover{
    background-color: red;
}






/*****************************  MAIN LAYOUT *****************************/


#mainLayout{
    margin-top: 50px;
    display: inline-block;
    width: 100%;
}
#outputDiv{
    width: 100%;
}

/***************************** OPTIONS *****************************/
#optionsDiv{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: lightgray;
    padding: 10px;
}
#optionsDiv > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
#optionsDiv > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
#gridSizeDiv{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
#gridBlocksInputDiv{
    -ms-grid-column: 1;
    grid-column: 1;
}
#gridBlocksOptionDiv{
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
}
.blockOption{
    text-align: center;
    padding: 5px;
}
.blockOption input{
    width: 40px;
    margin: 2px;
}
.blockOption span{
    margin: 2px;
}
/***************************** CONTROLS *****************************/

#controlsDiv{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;

    width: 200px;

}

#controlsDiv > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;

}

#controlsDiv > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;

}

#controlsDiv > *:nth-child(3){
    -ms-grid-row: 2;
    -ms-grid-column: 1;

}

#controlsDiv > *:nth-child(4){
    -ms-grid-row: 2;
    -ms-grid-column: 2;

}

#controlsDiv > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 1;

}

#controlsDiv > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 2;

}
#moveUp{
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    width: 50px;
    height: 30px;
    -ms-grid-column-align: center;
        justify-self: center;
}
#moveLeft{
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    width: 50px;
    height: 30px;
    -ms-grid-column-align: center;
        justify-self: center;
}
#moveRight{
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    width: 50px;
    height: 30px;
    -ms-grid-column-align: center;
        justify-self: center;
}
#moveDown{
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    width: 50px;
    height: 30px;
    -ms-grid-column-align: center;
        justify-self: center;
}




/***************************** CONSOLE OUTPUT *****************************/




/***************************** GRAPH OUTPUT *****************************/

#gridOuterDiv{
    background-color: white;
    height: 500px;
    width: 500px;

    border: 1px solid black;

}

.gridBlock{
    border: 1px solid black;
    position: relative;
    
}
#agentBlock{
    background-color: gray;
}

.agentBlock{
    background-color: gray;
}

.movableBlock{
    background-color: teal;
    overflow: hidden;
    text-align: center;

}
.movableBlock > div{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 25%;
    font-size: 260%;
}

.movableStateBlock{
    background-color: teal;
    overflow: hidden;
    text-align: center;

}
.movableStateBlock > div{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 25%;
    font-size: 260%;
}

#consoleOutputDiv{
    margin: 10px;
    max-width: 45%;
    max-height: 300px;
    overflow-y: auto;
}

#stateImageDiv{
    /* float: right; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-items: center;
    max-width: 500px;
}
#stateImageDiv > div > span{
    display: block;
    /* margin-top: 15%; */
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#startStateDiv{
    height: 200px;
    width: 200px;;
}
#startStateDiv > div{
    height: 100%;
    width: 100%;
}

#goalStateDiv{
    height: 200px;
    width: 200px;;
}
#goalStateDiv > div{
    height: 100%;
    width: 100%;
}





.hidden{
    display: none !important;
}